.date_picker_wrap {
    display: inline-block;
}

#date-time-picker {
    margin: 20px 0;

    .react-datetime-picker__wrapper {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        padding: 10px 20px;
        border: none;
        background: $white;
    }

    .react-calendar__tile--active {
        background: $darkRed;
    }

    .react-datetime-picker__button svg {
        width: 22px;
        height: 22px;
    }
}

.page_wrap.step_two {

    .title {
        margin-bottom: 0;
    }

    form {
        max-width: 300px;
        margin: 0 auto;

        input {
            border: none;
        }
    }

    .button_row {
        button {
            display: block;
            text-transform: uppercase;
            width: 100%;
            max-width: unset;
        }
    }

    .image_wrap {
        max-width: 200px;
        margin: 0 auto 20px;

        img {
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
        }
    }

    footer {
        margin-top: 0;
    }
}
